* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x:hidden;
}

body {
    font-family: "Geo", system-ui;
    font-size: 62.5%;
    background-color: #1B1C29;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    background-image: url(assets/img/bg-mobile.png);
    background-position: center;

}
/*! Mobile version  */
/* header */
.header--title {
    width:320px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.header--title h1 {
    width: 210px;
    font-size: 3.6rem;
    color: #F5C805;
    text-align: center;
    margin: 0 auto;
}

.header--title h2 {
    font-family: "Arial", sans-serif;
    width: 100%;
    font-size: 1.4rem;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
    margin: auto 0;
}
/* planets */
.planets--universe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.planets--universe-sun img{
    width: 227px;
    max-width: 316px;
    height: auto;
    margin-top: 20px;
    padding-bottom: 16px;
    position: relative;
    
}
.planets--universe-mercury img{
    width:27px;
    max-width: 37px;
    height: auto;
    padding-bottom: 11px;
    position: relative;
}
.planets--universe-venus img{
    width:38px;
    max-width: 53px;
    height: auto;
    padding-bottom: 8px;
    position: relative;
}
.planets--universe-earth img{
    width:46px;
    max-width: 64px;
    height: auto;
    padding-bottom: 1px;
    position: relative;

}
.planets--universe-mars img{
    width:37px;
    max-width: 51px;
    height: auto;
    padding-bottom: 5px;
    position: relative;
}
.planets--universe-jupiter img{
    width:79px;
    max-width: 109px;
    height: auto;
    padding-bottom: 24px;
    position: relative;
}
.planets--universe-saturn img{
    width:96px;
    max-width: 134px;
    height: auto;
    padding-bottom: 28px;
    position: relative;
}
.planets--universe-uranus img{
    width:68px;
    max-width: 95px;
    height: auto;
    padding-bottom: 18px;
    position: relative;
}
.planets--universe-neptune img{
    width:54px;
    max-width: 75px;
    height: auto;
    padding-bottom: 28px;
    position: relative;
}
/*! Dektop version */
@media(min-width: 1024px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* Cambia a 100% */
        height: 100%; /* Cambia a 100% */
        background-image: url(assets/img/bg-desktop.png);
        background-size: cover; /* Asegura que la imagen de fondo cubra todo el contenedor */
        background-position: center;
    }
    
    /* header */
    .header--title {
        width:100%;
        height: auto;
        margin-top: 30px;
    }

    .header--title h1 {
        width: 568px;
        font-size: 4.6rem;
    }

    .header--title h2 {
        width: 100%;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    /* planets */
    .planets--universe{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position:relative;
        width:100%;
        height: 823px;
        
    }
    .planets--universe-sun img{
        width:316px;
        height: 309px;
        height: auto;
        position: absolute; /* El Sol se posicionará relativo a .planets--universe */
        left: 170px; /* Lo coloca en la posición horizontal X=102px */
        top: 50%; /* Ajusta según tu diseño para centrarlo verticalmente */
        transform: translateY(-55%)       /* Posiciona el Sol en X = 102px */
        
    }
    
    .planets--universe-mercury img{
        width:37px;
        height: 39px;
        height: auto;
        position: absolute;
        left: 620px;
        top: 50%; /* Ajusta esta posición para alinear */
        transform: translateY(-50%);
    }
    .planets--universe-venus img{
        width:52px;
        height: 53px;
        max-width: 53px;
        position: absolute;
        left: 710px;
        top: 50%; /* Ajusta esta posición para alinear */
        transform: translateY(-50%);
    }
    .planets--universe-earth img{
        width:64px;
        height: 64px;
        max-width: 64px;
        height: auto;
        left: 820px;
        top: 60%;
        transform: translateY(0%);

    }
    .planets--universe-mars img{
        width:50px;
        height: 51px;
        max-width: 51px;
        height: auto;
        position: absolute;
        left: 920px;
        top: 50%;
        transform: translateY(-50%);
    }
    .planets--universe-jupiter img{
        width:109px;
        height: 109px;
        max-width: 109px;
        height: auto;
        position: absolute;
        left: 1020px;
        top: 50%;
        transform: translateY(-50%);
    }
    .planets--universe-saturn img{
        width:134px;
        height:97px;
        max-width: 134px;
        height: auto;
        position: absolute;
        left: 1220px;
        top: 50%;
        transform: translateY(-50%);
    }
    .planets--universe-uranus img{
        width:95px;
        height: 93px;
        max-width: 95px;
        height: auto;
        position: absolute;
        left: 1440px;
        top: 50%;
        transform: translateY(-50%);
    }
    .planets--universe-neptune img{
        width:75px;
        height: 79px;
        max-width: 75px;
        height: auto;
        position: absolute;
        left: 1620px;
        top: 50%;
        transform: translateY(-50%);

    }
    /* padding-left empuja right */
}






    